@mixin styleText($fs,$fw,$color) {
  font-size: $fs;
  font-weight: $fw;
  color: $color;
}

@mixin styleButton($bg,$pd-y,$pd-x,$bd,$radius,$ls) {
  background: $bg;
  padding: $pd-y $pd-x;
  border: $bd;
  border-radius: $radius;
  letter-spacing: $ls;
}

@mixin styleButtonHover($bg,$bd-color,$color) {
background: $bg;
border-color: $bd-color;
color: $color;
}

@mixin styleBorderUp($bd) {
  border-top-left-radius: $bd;
  border-top-right-radius: $bd;
}

@mixin styleBorderDown($bd) {
  border-bottom-left-radius: $bd;
  border-bottom-right-radius: $bd;
}

@mixin styleShadow($sd) {
  box-shadow: $sd;
}

@mixin responsive($screen) {
  @if(map-has-key($map: $breakpoints, $key: $screen)) {
      $value: map-get($map: $breakpoints, $key: $screen);
      @media screen and (max-width: $value) {
          @content;
      }
  }
  @else{
      @error "screen doesn't exist!"
  }
}