//Color
$color-purple-1: #b61984;
$color-dark-1: #181818;
$color-dark-2: #191919;
$color-white-1: #fff;
$color-purple-2: #dcd1f3;

//Font-size
$fs-0: 15px;
$fs-1: 13px;
$fs-2: 1.1rem;
$fs-3: 3.8rem;
$fs-4: 0.75rem;
$fs-5: 1.55rem;
$fs-6: 2.5rem;
$fs-7: 0.9em;
$fs-8: 0.9rem;
$fs-9: 1.25em;
$fs-10: 0.8em;

//Font-weight
$fw-0: 400;
$fw-1: 500;
$fw-2: 600;
$fw-3: 700;

//Letter-spacing
$ls-0: 1px;

//Padding
$pd-0: 1.1em;
$pd-1: 1.5em;
$pd-2: 0 50px 0 0;
$pd-3: 4em;
$pd-4: 7em;

//Margin



//Line-height
$lh-1: 1.8em;
$lh-2: 68.4px;

//Margin-bottom
$mb-0: 0.5em;
$mb-1: 8.25px;
$mb-2: 0.7em;
$mb-3: 7.875px;

//Button
$bd-0: 50px;

//Border-radius
$radius-0: 50px;
$radius-1: 10px;


//Break points
$breakpoints: (
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px
)