header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;


  .nav-item{
    padding: $pd-2;
    .nav-link{
      @include styleText($fs-1,$fw-2,$color-dark-1);
      &:hover{
        color: $color-purple-1;
      }
    }
  }


  .socials-network{
    display: inline-block;
    .socials-icon{
      display: inline-block;
      a{
        @include styleText($fs-7,$fw-0,$color-dark-1);
        padding: 0 0 0 11.7px;
        transition: all 0.2s;
        &:hover{
          color: $color-purple-1;
        }
      }
    }
  }


}


//Responsive

@include responsive("extra-large") {
    header{
        .navbar-toggler{
          background-color: $color-dark-1;
        }
    }
}

